* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    word-break: break-all;
}
ol {
    margin-left: 20px;
    font-size: 20px;
}
body {
    font-family: Raleway;
    color: #393939;
}
p {
    line-height: 1.75em;
}
header {
    margin-bottom: 20px;
}
#header-wrapper {

    box-shadow: 1px 1px 28px -2px #00000038;
}
h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.small {
    font-size: 16px;
    color: rgba(0,0,0,.54);
}
#logo {
    padding: 20px 0;
}
#logo a {
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 600;
    color: #393939;

}

#banner
{
    position: relative;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-image: url(http://www.militarytocorp.com/images/pics05.jpg);

}

#main
{

    position: relative;
    background: #fff;
    margin-bottom: 50px;
}

.homepage #main header,
.homepage #main
{
    text-align: center;
}

#main .left
{
    text-align: left;
}

#main .right
{
    text-align: right;
}

#main .button
{
    display: inline-block;
    margin-top: 4em;
}

#main .divider
{
    margin-top: 4em;
    border-bottom: 1px solid rgba(0,0,0,.2);

}


.sidebar .default li
{
    border-color: rgba(0,0,0,.1);
}

.sidebar .default a
{
    color: #333;
    margin: 0 5px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.left {
    width: 60%;

}
.right {
    width: 35%;
}
.link {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    transition: .3s ease-in-out;
    color: #393939;
    font-style: italic;
}
.link:hover {
    color: #8d8d8d;
}
.article {

}

.container.container-post {
    max-width: 740px;
}
.header-post {
    margin-top: 20px;
}
.author {
    color: #393939;
    font-weight: 400;
}
.container-post img{
    width: 100%;
    margin: 20px 0;
}
.topic, .date {
    color: rgba(0,0,0,.54);
}
.article {
    padding: 20px 0 50px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.container.top-article{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.col-article {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 1px 7px rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.04);

}
.top-article-title {
    padding: 15px;
    height: 180px;

}
.top-article-title a {
    color: rgba(0,0,0,.84);
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
}
.pagination ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;
}
.pagination ul a{
    display: block;
    font-family: sans-serif;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
}
.pagination ul li a.active{
    color: blue;
    font-weight: bold;
}
.pagination a:hover:not(.active) {background-color: #ddd;transition: background-color .3s;}
