body, html {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.active {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
}

.main {
    padding: 75px 0;
}

.main-block {
    display: flex;
    border: 1px solid #eeeeee;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #cccccc;
    margin-bottom: 25px;
}
 footer {
     height: 50px;
     background-color: #333;
     color:white;
     text-align: center;
     padding: 20px 0;
 }



